@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=ZCOOL+QingKe+HuangYou&display=swap");
body {
  font-family: "Ubuntu Mono", monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
header {
  /* display: block; */
  background: black;
  padding: 10px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 24px;
}
.nav-bar .brand {
  margin: 5px;
  font-size: 35px;
}
.nav-bar .brand .brand-name {
  font-weight: 700;
  margin-left: 20px;
}
.conutries {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}
.conutries .conutry-name {
  display: flex;
  margin: 10px;
  /* padding: 10px; */
}
.conutries .conutry-name .names {
  margin: 0px 10px;
  background: blanchedalmond;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.conutries .conutry-name .names:hover {
  background: rgb(253, 221, 173);
}
.conutries .conutry-name .names.active {
  background: rgb(252, 207, 140);
}
.center {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  padding: 10px;
}
.clock-container {
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clock-container .selected-country {
  display: block;
  position: absolute;
  top: 30px;
}
.clock-container .analog-clock {
  border: 2px solid black;
  position: relative;
  width: 200px;
  height: 200px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
}
.clock-container .analog-clock .oneTwo,
.clock-container .analog-clock .three,
.clock-container .analog-clock .six,
.clock-container .analog-clock .nine {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: black;
}
.clock-container .analog-clock .oneTwo,
.clock-container .analog-clock .six {
  transform: translateX(-50%) rotate(90deg);
}
.clock-container .analog-clock .oneTwo {
  top: 17px;
  left: 50%;
}
.clock-container .analog-clock .six {
  bottom: 17px;
  left: 50%;
}
.clock-container .analog-clock .three {
  right: 0;
}
.clock-container .analog-clock .nine {
  left: 0;
}
.clock-container .analog-clock .round {
  width: 15px;
  height: 15px;
  background-color: black;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  z-index: 2;
}
.clock-container .analog-clock .hour,
.clock-container .analog-clock .minute,
.clock-container .analog-clock .second {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.clock-container .analog-clock .hour {
  width: 105px;
  height: 105px;
  z-index: 1;
}
.clock-container .analog-clock .hour::before {
  content: "";
  position: absolute;
  background-color: rgb(87, 86, 86);
  width: 5px;
  height: 48px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.clock-container .analog-clock .minute {
  width: 125px;
  height: 125px;
}
.clock-container .analog-clock .minute::before {
  content: "";
  position: absolute;
  background-color: grey;
  width: 5px;
  height: 64px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.clock-container .analog-clock .second {
  width: 120px;
  height: 120px;
  z-index: 1;
}
.clock-container .analog-clock .second::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 2px;
  height: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.clock-container .digital-clock {
  border: 2px solid black;
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-container .digital-clock .hour,
.clock-container .digital-clock .minute,
.clock-container .digital-clock .second {
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
